*{
    font-family: "Open Sans", sans-serif;
}
#login {
    width: 300px;
    height: 497px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    background-color: #F4F4F4;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#login h2{
    color: #868787;
    font-size: 19px;
}
#login .err-notice{
    color: red;
    margin-left: -127px;
}
#login input{
    height: 40px;
    width: 190px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #868787;
    padding-left: 15px;
    font-size: 15px;
    display: block;
    margin: 5px auto;
    outline: none;
}
#login input[type=text]:focus,
#login input[type=password]:focus{
    border-color: #FFD600;
}
#login input:hover{
    border-color: #FFD600;
}
#login button{
    height: 45px;
    width: 209px;
    background-color:#FFD600;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#login button:hover{
    background-color: #FFD600;
    color:#fff;
    font-size: 22px;
}
span{
    font-size: 16px;
}
#login a{
    color: rgb(247, 6, 6);
    text-decoration: none;
    font-size: 16px;
}
#login a:hover{
    color: #ce0000;
    font-size: 20px;

}
#login input[type=checkbox] {
    margin-left: -60px;
}